  <form action="/teams" method="post">

    <h1>Create a Team and Heroes!</h1>
    Team Name: <input id="team[name]" type="text" name="team[name]">
    Team Motto: <input id="team[motto]" type="text" name="team[motto]">

    <h2>Hero 1</h2>
    Hero Name: <input id="member1_name" type="text" name="team[hero][][name]">
    Hero Power: <input id="member1_power" type="text" name="team[hero][][power]">
    Hero Biography: <input id="member1_bio" type="text" name="team[hero][][bio]">

    <h2>Hero 2</h2>
    Hero Name: <input id="member2_name" type="text" name="team[hero][][name]">
    Hero Power: <input id="member2_power" type="text" name="team[hero][][power]">
    Hero Biography: <input id="member2_bio"  type="text" name="team[hero][][bio]">

    <h2>Hero 3</h2>
    Hero Name: <input id="member3_name" type="text" name="team[hero][][name]">
    Hero Power: <input id="member3_power" type="text" name="team[hero][][power]">
    Hero Biography: <input id="member3_bio" type="text" name="team[hero][][bio]">

    <input id="submit" type="submit">
  </form>
